  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding:10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span
  {
    white-space:pre-line;
  }
  .copy_right_footer
  {
    position:fixed;
    color:blue;
    background-color: rgb(238, 255, 162);
    bottom:0;
    text-align: center;
    width:100%;
    line-height: 3;
    font-size: 20px;
    font-family: cursive;
  }
  canvas{
    border-radius: 15px;
    border:10px groove  silver;
    box-shadow: 5px 10px 18px grey;
    margin-top: 150px;
    
  }
  body{
    background-position: center;
    background-size: cover;
  }
 